@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --mostly-black-blue: hsl(234, 17%, 12%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background:
                url("./images/pattern-hills.svg") bottom no-repeat,
                url("./images/bg-stars.svg") no-repeat,
                linear-gradient(to bottom, var(--very-dark-blue) 50%, #301934 90%) no-repeat;

    font-family: 'Red Hat Text', sans-serif;
}

@media (max-width: 720px) {
    body {
        background-size: auto 150px, cover, auto;
        background-position-x: 80%, left;
    }
}

@media (min-width: 720px){
    body {
        background-size: contain;
    
    }
}

.container {
    width: 90%;
    max-width: 34rem;
    height: 100%;

    margin: 0 auto;
    padding: .3rem;

    text-transform: uppercase;
    text-align: center;

    letter-spacing: .3em;
}


.container > h1 {
    font-size: 1.4rem;
    color: white;
    margin-top: 8.5rem;
}


#timer {
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    gap: 1rem;
}

.value {
    font-size: 3.5rem;
    margin: 15px;
}

.flip-card {
    position: relative;
    background-color: var(--dark-desaturated-blue);
    color: var(--soft-red);

    border-radius: 7px;

    perspective: 400px;

    box-shadow: 0 8px var(--mostly-black-blue);
}

.flip-top {
    background-color: var(--very-dark-blue);
    border-bottom: 1px solid black;
    box-shadow: 0 .3px .3px antiquewhite;

    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.flip, .flip-top {
    position: absolute;

    opacity: .4;
    width: 100%;
    height: 50%;

    z-index: 2;
}

.flip {
    transform-origin: bottom;
    border-radius: 7px;
}


.action  {
    animation: flip .6s ease-out forwards;
}

@keyframes flip {
    0% {
        background-color: var(--grayish-blue);
        opacity: .9s;
        z-index: 10;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: rotateX(-180deg);
        opacity: 0;

    }
}

.flip-card::before, .flip-card::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    top: 46%;

    background-color: var(--mostly-black-blue);
    z-index: 3;
}

.flip-card::before {
    left: 0;
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px ;
}

.flip-card::after {
    right: 0;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px ;
}

.label {
    font-size: .6rem;
    margin-top: .6em;
    color: var(--grayish-blue);
}

.footer {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
}

.links {
    width: 150px;
    height: 24px;
    margin: 0 auto;

    display: flex;
    justify-content:space-evenly;

    -webkit-tap-highlight-color: transparent;
}

svg {
    fill: #8385A9; 
}
svg:hover,
svg:focus {
    fill: var(--soft-red);
}

@media (max-width: 620px){
    .container {
        letter-spacing: .2rem;
    }
    .value {
        font-size: 2.2rem;
    }
    .container > h1 {
        margin-top: 5rem;
    }
    #timer {
        margin-top: 4rem;
    }
}
@media (max-width: 450px) {
    #timer {
        gap: .6rem;
    }
    .label {
        font-size: .5rem;
    }
    .value {
        font-size: 1.8rem;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }